.button {
  border-radius: 5px;
  font-weight: bold;
  background-color: #8ce8ff;

  &:hover {
    background-color: #baff8c;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background-color: #8ce8ff;
    }
  }
}

.button--submit {
  padding: 10px 20px;
}

.button--tag {
  background: none;
  font-weight: normal;

  &:hover {
    background: none;
  }
}

.button--paginator {
  padding: 5px 10px;
  color: inherit;
  background: none;

  &:hover {
    background: none;
  }
}
