.button {
  border-radius: 5px;
  font-weight: bold;
  background-color: #8ce8ff;
  transition: all 0.3s;

  &:hover {
    background-color: #baff8c;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background-color: #8ce8ff;
    }
  }
}

.button--submit {
  padding: 10px 20px;
}

.button--tag {
  background: none;
  font-weight: normal;

  &:hover {
    background: none;
  }
}

.button--delete {
  color: rgb(189, 0, 0);
  position: absolute;
  font-size: 2rem;
  top: 0;
  right: 5px;
  background-color: var(--green-main);
  padding: 10px 15px;
  border-radius: 10px;

  &:hover {
    color: rgb(245, 0, 0);
  }
}

.button--paginator {
  padding: 5px 10px;
  color: inherit;
  background: none;

  &:hover {
    background: none;
  }
}
