.post-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post-form__group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.post-form__label {
  font-size: 1.2rem;
}

.post-form__input {
  padding: 5px;
  border-radius: 5px;
  resize: none;
  width: 100%;
}

.post-form__input--tags {
  background-color: red;
  background: none;
}

.tags-input-container {
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  display: flex;
  gap: 5px;
}

.tags-list {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.tag {
  padding: 5px 7px;
  background-color: rgb(222, 222, 222);
  border-radius: 5px;
  display: flex;
  gap: 2px;
}
