:root {
  --main-color: #ff8cba;
  --main-black: #242526;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  color: var(--main-black);
  margin: 0;
  font-family: "Roboto Variable", Arial, Helvetica, sans-serif;
}

h1,
h2 {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
