:root {
  --pink-main: #ff8cba;
  --pink-secundary: #e8c5d2;
  --black-main: #242526;
  --blue-main: #8ce8ff;
  --green-main: #baff8c;
  --default-font: "Roboto Variable", Arial, Helvetica, sans-serif;
  --custom-font: Cookie, var(--default-font);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: var(--pink-main);
  color: var(--black-main);
  margin: 0;
  font-family: var(--default-font);
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

input,
label,
textarea {
  font: inherit;
}

input,
textarea {
  border: none;
  padding: 0;
}
