.main-header {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.app-title {
  font-family: Cookie, Arial, Helvetica, sans-serif;
  font-size: 3rem;

  @media (width > 600px) {
    font-size: 4rem;
  }
}
