.main-header {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.app-title {
  font-family:
    Cookie,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 3rem;

  @media (width > 600px) {
    font-size: 4rem;
  }
}
