.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-bottom: 30px;

  @media (width > 600px) {
    padding-bottom: 40px;
  }
}

.title-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.app-logo {
  display: none;
  height: 60px;
  width: 60px;

  @media (width >= 353px) {
    display: inline;
  }
}

.app-title {
  font-family: var(--custom-font);
  font-size: 3rem;
  height: 3.375rem;

  @media (width > 600px) {
    font-size: 4rem;
    height: 4.438rem;
  }
}
