.posts-container {
  padding-top: 12px;

  @media (width > 600px) {
    padding-top: 24px;
  }
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.post {
  background-color: var(--blue-main);
  border-radius: 12px;
  padding: 10px 20px;
}

.post__title {
  font-family: Cookie, "Roboto Variable", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
