.navigator {
  align-self: stretch;
}

.navigator__link {
  font-size: 1.25rem;
  background-color: #e8c5d2;
  padding: 6px 10px;
  border-radius: 6px;
  transition: all 0.3s;

  @media (width > 600px) {
    font-size: 1.5rem;

    &:hover {
      background-color: #baff8c;
    }
  }
}

.active {
  font-weight: bold;
  background-color: #8ce8ff;
}
