.navigator {
  align-self: stretch;
}

.navigator__link {
  font-size: 1.25rem;
  background-color: var(--pink-secundary);
  padding: 6px 10px;
  border-radius: 6px;
  transition: all 0.3s;
  display: inline-block;

  @media (width > 600px) {
    font-size: 1.5rem;

    &:hover {
      background-color: var(--green-main);
    }
  }
}

.active {
  font-weight: bold;
  background-color: var(--blue-main);
}
